<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.those.upnext">

    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.UpNextWidget.App" >

        <activity
            android:name=".activity.UpNextActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.UpNextWidgetProvider"
            android:label="up next"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_upnext_info" />
        </receiver>

        <service android:name=".service.EventsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />
    </application>

</manifest>